<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form class="" enctype="multipart/form-data" action="/" method="post">
  <p>
  File to upload: <input type="file" name="upfile"><br>
  Notes about the file: <input type="radio" name="note"><br>
  </p>
  <input type="submit" value="Press"> to upload the file!
</form>
