<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <meta charset="utf-8">
    <title>Scanner</title>
    <meta name="description" content="A Webapp that scans ID/License images, and parse ID/License info with OCR">
    <meta name="author" content="Ming Jin <skyairmj@gmail.com>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%- partial('_styles') %>
  </head>

  <body>
    <%- body %>
  </body>

  <%- partial('_scripts') %>
</html>
